

 .body{
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.error{
color: red;
font-size: 14px;
}
.sign_up{
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1), 0 8px 15px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  text-align: center;
  width: 396px;
  height:450px;
  color:black
}
.sign{
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1), 0 8px 15px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 40px 0 0;
  padding: 20px 0 28px;
  text-align: center;
  width: 396px;
  height:398px;
  color:black
}

.btn{
  background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    color: #fff;
    font-weight: bold;
    font-style: inherit;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    
}
.div_btn{
  text-align: center;
  padding: 6px 0;
  
}

.btn:hover{
  cursor: pointer;
}
.input_flux{
  display: inline-block;
    font-size: 14px;
    padding: 6px 0;
    margin:auto;
   border-radius: 6px;
   

}

.line{
  width: 330px;
}
.sign_up_btn:hover{
  cursor: pointer;
  background-color: #5ccf45;
}
.sign_up_btn{
  text-decoration-line: none;
  background-color: #42b72a;
  box-sizing: content-box;
  border:none;
  color:#fff;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  font-size:20px;
  line-height: 48px;
  border-radius: 6px;
  margin-top: 20px;
  width: 150px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}

.psw{
  font-size: 16px;
}
input[type=email],[type=password],input{
 
  font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border:1px solid rgb(194, 190, 190);
    margin-top: 10px;
  
 
      display: block;
}
input[type=email]:focus, input[type=password]:focus {
  background-color: #fff;
  font-size: 17px;
  padding:14px 16px;
  border-color:rgb(42, 75, 219);
    width: 330px;
    outline: none;
  
 
      display: block;
/*       
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: gray;
      font-family: inherit;
      font-size: inherit;
      font-weight: semibold;
      line-height: inherit;
      transition: 0.3s ease; */
}

